.title{
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
}

.main{
    display: flex;
}

.product_container{
    width: 100%;
    display: flex;
    gap: 20px;
}

.price_cal{
    width: 50%;
}

.sub-title{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: 600;
    text-align: center;
}
.price{
    border: 2px solid gray;
    padding: 5px;
}